<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>Actions</key>
  <array>
    <dict>
      <key>After</key>
      <string>show-result</string>
      <key>Script Interpreter</key>
      <string>/usr/local/bin/python3</string>
      <key>Shell Script File</key>
      <string>baidutrans.py</string>
      <key>Title</key>
      <string>百度翻译</string>
      <key>Image File</key>
      <string>baidutrans.png</string>
    </dict>
  </array>
 <key>Extension Description</key>
 <string>Translate from Baidu</string>
 <key>Extension Identifier</key>
 <string>baidutrans</string>
 <key>Extension Name</key>
 <string>百度翻译</string>
 <key>Extension Image File</key>
 <string>baidutrans.png</string>
 <key>Options</key>
 <array>
   <dict>
     <key>Option Identifier</key>
     <string>app_id</string>
     <key>Option Label</key>
     <string>APP ID</string>
     <key>Option Type</key>
     <string>string</string>
   </dict>
   <dict>
     <key>Option Identifier</key>
     <string>app_key</string>
     <key>Option Label</key>
     <string>密钥</string>
     <key>Option Type</key>
     <string>string</string>
   </dict>
 </array>
 <key>Credits</key>
 <array>
   <dict>
     <key>Name</key>
     <string>Adun Chan</string>
     <key>Link</key>
     <string>http://blog.chenxiaosheng.com</string>
   </dict>
 </array>
 <key>Version</key>
 <integer>1</integer>
</dict>
</plist>
